In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv('datasets/cat-in-the-dat.csv')
df

        bin_0  bin_1  nom_0      nom_1  ord_0        ord_1  day  month  target
0           0      0  Green   Triangle      2  Grandmaster    2      2       0
1           0      1  Green  Trapezoid      1  Grandmaster    7      8       0
2           0      0   Blue  Trapezoid      1       Expert    7      2       0
3           0      1    Red  Trapezoid      1  Grandmaster    2      1       1
4           0      0    Red  Trapezoid      1  Grandmaster    7      8       0
...       ...    ...    ...        ...    ...          ...  ...    ...     ...
299995      0      0    Red  Trapezoid      1  Contributor    3      8       0
299996      0      0  Green  Trapezoid      2       Novice    3      2       0
299997      0      0   Blue       Star      3       Novice    7      9       1
299998      0      1  Green     Square      1       Master    3      8       1
299999      0      0   Blue  Trapezoid      3  Contributor    1      3       0

[300000 rows x 9 columns]

In [11]:
for col in df.columns:
    print(col, df[col].nunique(), df[col].unique(), sep=" || ")

bin_0 || 2 || [0 1]
bin_1 || 2 || [0 1]
nom_0 || 3 || ['Green' 'Blue' 'Red']
nom_1 || 6 || ['Triangle' 'Trapezoid' 'Polygon' 'Square' 'Star' 'Circle']
ord_0 || 3 || [2 1 3]
ord_1 || 5 || ['Grandmaster' 'Expert' 'Novice' 'Contributor' 'Master']
day || 7 || [2 7 5 4 3 1 6]
month || 12 || [ 2  8  1  4 10  3  7  9 12 11  5  6]
target || 2 || [0 1]

# imputing with KNN

In [12]:
import numpy as np
from sklearn import impute

In [13]:
X = np.random.randint(1, 15, (10, 6))

In [14]:
# convert the array to float
X = X.astype(float)

In [15]:
# randomly assign 10 elements to NaN (missing)
X.ravel()[np.random.choice(X.size, 10, replace=False)] = np.nan

In [16]:
X

array([[nan,  2.,  2.,  5.,  6.,  3.],
       [ 7.,  1.,  7., 14.,  5.,  9.],
       [ 7.,  2., nan, 13., nan, nan],
       [10.,  2., 11., nan,  2.,  9.],
       [ 4., nan,  9.,  9.,  7.,  4.],
       [11., 10., 12., nan,  6.,  1.],
       [ 9., 13.,  3.,  9.,  2.,  7.],
       [ 1.,  4.,  2., nan,  5., 11.],
       [ 7., 12., 11.,  7.,  1., nan],
       [ 5.,  1., 12.,  8., nan, 13.]])

In [17]:
knn_imputer = impute.KNNImputer(n_neighbors=2)
knn_imputer.fit_transform(X)

array([[ 2.5,  2. ,  2. ,  5. ,  6. ,  3. ],
       [ 7. ,  1. ,  7. , 14. ,  5. ,  9. ],
       [ 7. ,  2. ,  9. , 13. ,  3.5,  9. ],
       [10. ,  2. , 11. , 13.5,  2. ,  9. ],
       [ 4. ,  7. ,  9. ,  9. ,  7. ,  4. ],
       [11. , 10. , 12. ,  8. ,  6. ,  1. ],
       [ 9. , 13. ,  3. ,  9. ,  2. ,  7. ],
       [ 1. ,  4. ,  2. ,  9.5,  5. , 11. ],
       [ 7. , 12. , 11. ,  7. ,  1. ,  2.5],
       [ 5. ,  1. , 12. ,  8. ,  3.5, 13. ]])